/* Homepage banner bottom color gradient */
.homepage .home__how_it_works_container,
.jumbotron__inner {
  background: linear-gradient(-45deg, #EC5252 0%, #6E1A52 100%) !important;
}

/* Hover color for linked buttons. eg Register button on menu */
.btn-link:hover {
  background: #EC5252 !important;
  color: #FFF !important;
}

/* Search icon color */
.nav__search_wrapper .gabs__input_group .btn-link[type=submit]{
  color: #EC5252;
}

/* Tabs nav button. eg Carousel on homepage */
.tc-tabs-style6 .nav-tabs .nav-item.show .nav-link,
.tc-tabs-style6 .nav-tabs .nav-link.active {
  background-color: #6E1A52 !important;
}

/* Filter block active menu. eg Author Dashboard */
.filters-block .active,
.filters-block .active,
.filters-block .active:hover {
  background: #EC5252 !important;
}

/* Footer bottom border */
footer {
  border-bottom: 6px solid #EC5252 !important;
}