$red: #5bbc2e;
$gradient_darker: #2C764B;

.homepage .home__how_it_works_container,
.jumbotron__inner {
    background: linear-gradient(-45deg,$red 0%,$gradient_darker 100%) !important;
}
.nav__search_wrapper .gabs__input_group .btn-link[type=submit] {
    color: $red;
}
.btn-link:hover {
    background: $red !important;
    color: #FFF !important;
}
footer {
    border-bottom: 6px solid $red !important;
}
.tc-tabs-style6 .nav-tabs .nav-item.show .nav-link, 
.tc-tabs-style6 .nav-tabs .nav-link.active {
    background-color: $gradient_darker !important;
}

.filters-block .active, 
.filters-block .active, 
.filters-block .active:hover{
    background: $red !important;
}